@using NorthwindKullan.Models.EntityModel
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAna.cshtml";
}
<a class="btn btn-success" href="/Kategori/Yeni">Yeni Kategori</a>
<h2>Kategori Listesi</h2>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th> 
            <th>Açıklama</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kategori in Model)
        {
        <tr>
            <td>@kategori.CategoryID</td>
            <td>@kategori.CategoryName</td>
            <td>@kategori.Description</td>
            <td>
                <a href="@Url.Action("Guncelle", "Kategori", new {id = kategori.CategoryID})" class="btn btn-danger">
                    Guncelle
                </a>
            </td>
            <td>
                <a href="@Url.Action("Sil", "Kategori", new {id = kategori.CategoryID})" class="btn btn-warning">
                    Sil
                </a>
            </td>
        </tr>
        }
    </tbody>
    </table>
