@using NorthwindKullan.Models.EntityModel
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAna.cshtml";
}

<h2>Ürünler</h2>
@Html.ActionLink("Yeni Ürün","Ekle",null,new {@class="btn btn-success" })
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Kategorisi</th>
            <th>Fiyat</th>
            <th>Adet</th>
            <th>Stok</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urunler in Model)
        {
        <tr>
            <td>@urunler.ProductID</td>
            <td>@urunler.ProductName</td>
            <td>@urunler.Category.CategoryName</td>
            <td>@urunler.UnitPrice</td>
            <td>@urunler.QuantityPerUnit</td>
            <td>@urunler.UnitsInStock</td>           
        </tr>
        }
        </tbody>
    </table>
        

